<h1>Zookeeper: <%=@zookeeper.username%></h1>
<h3>Zoo: <a href="/zoos/<%= @zookeeper.id %>"><%=@zookeeper.zoo%></a></h3>
<h3>You have these animals in your zoo:</h3>
<ul>
    <%@zookeeper.animals.each do |animal|%>
    <li><a href="/animals/<%= animal.id %>"><%= animal.animal_type.capitalize%></a></li>
    <%end%>
</ul>
<br>

<% if logged_in? && @zookeeper.id == current_user.id %>
<a href="/animals/new"><button class="btn">Add a new animal</button></a>
<a href="/zookeepers/<%= @zookeeper.id %>/edit"><button class="btn">Edit your profile</button></a>
<form method="POST" action="/zookeepers/<%= @zookeeper.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE" />
<input class="btnred" type="submit" value="Delete your profile" />
</form>
<% end %>

<br><br><br>
<a href="/zoos"><button class="btnhome">All our ZOOs</button></a>
<a href="/animals"><button class="btnhome">All our animals</button></a>
<a href="/"><button class="btnhome">Homepage</button></a>

